.Hotel{
    transition: .5s;
}

.Hotel .details{
    background-color: cadetblue;
    color: white;
}

.Hotel .country{
    padding: 0px 0px .75rem 1rem;
}

.Hotel .details span{
    margin-left: 1rem;
}

.Hotel .details .rooms{
    margin-left: 1.5rem;
}

.Hotel:hover{
    transform: translateY(-5px);
}